.container-section-galery{
  width: 100%;
  display: flex;
  color: white;
}
.section-images{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section-images div{
  position: relative;
  margin-bottom: 20px;
  display: flex;
  height: 210px;
  min-width: 30%;

}
.section-images span {
position: absolute;
bottom: 0;
padding: 5px;
}

span:last-child{
  right: 0;
} 
.section-images img {
  object-fit: cover;
  transition: all .3s;
  cursor: pointer;

}
 
.section-images .gallery-img:hover{
transform: scale(1.02);  
}

.section-filters{
  width: 20%;
  text-align: center;
}
.section-filters ul{
width: 100%;
}
.section-filters h2{
 padding: 40px;
}
.section-filters button{
display: block;
width: 35%;
margin: 0 auto;
background: none;
border: none;
color: white;
font-size: 20px;
cursor: pointer;
margin-bottom: 15px ;
}

/* Hoover underline CODEPEN*/
.section-filters button{
  position: relative;
}

.section-filters button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.section-filters button:hover::after,
.section-filters button:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
li:nth-child(3) .section-filters button::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

li:nth-child(3) .section-filters button:hover::after,
li:nth-child(3) .section-filters button:focus::after{
  transform: scale(2);
}
/* finish Hoover underline */


.layout {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0, .7);
}
.full-sizeImg-wrapper{
  position: fixed;
  z-index: 1;
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
}
.full-sizeImg-wrapper::after{
  right: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  content: 'X';
  padding: 6px 12px;
}

/* Button Back to TOP w3school*/
#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}



/* Mobile Version */
@media(max-width: 860px){
  .full-sizeImg-wrapper{
  width: 100%;
}
 .fullSize{
   width: 100%;
 }
 .container-section-galery{
   display: block;
 }
 .section-filters{
   width: 100%;
   display: flex; 
   margin: -35px auto 0;
 }
 .section-filters h2{
   padding: 10px;
 }

}

