
.navigation-container{
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #ffff;
  flex-direction: row;
  margin-bottom: 40px;
}
nav{
  max-width: 1180px;
  margin: 0 auto;
}
.logo{
    display: inline-block;
    vertical-align: top;
    max-height: 50px;
  margin: 5px 20px;
}
.navigation-container, ul {
  float: right;
  font-size: 20px;
  padding-right: 10px;
}
.navigation-container, li{
  display: inline;
}
.navigation-container li a{
  color: black;
  line-height: 60px;
  margin-left: 60px;
}

/* Start Hover underline animation: CODEPEN*/
a {
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
li:nth-child(3) a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

li:nth-child(3) a:hover::after,
li:nth-child(3) a:focus::after{
  transform: scale(2);
}
/* End Hover underline animation: CODEPEN*/



