

.slider {
  width: 100%;
  margin-bottom: 40px;
}

.preview{
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.preview img{
  margin: 0 auto;
  max-width: 100%;
  padding: 5px; 
}
.main-foto{
  transition: all 1s;
}

.thumbnails {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;  
}
.thumbnails img {
  cursor: pointer;
  max-width: 30%;
  transition: all .3s;
}
.thumbnails img:hover{
transform: scale(1.1);  
}
.text{
margin: 0 auto;
width: 70%;
padding: 20px;
}
.text p{
  color: #ffff;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 30px;
  letter-spacing: 1px;
}